.main-container {
    width: 400px;
}

.text-input-container,
.text-display-container,
.control-btn-container,
.video-display-container {
    width: 100%;
}

.text-input-container {
    display: flex;
    height: 40px;
}

.text-input-container input {
    flex-grow: 1;
}

.text-display-container {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.video-display-container {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.video-display-container video {
    width: 40%;
    aspect-ratio: 1 / 1;
}

.text-display-container div {
    width: 100%;
    margin-bottom: 5px;
}

.control-btn-container {
    display: flex;
    height: 40px;
}

.control-btn-container button {
    flex-grow: 1;
    cursor: pointer;
}

@media screen and (max-width: 579px) {
    .main-container {
        width: 100%;
    }
}